SKETCHFAB_API_TOKEN=your_sketchfab_api_token
SKETCHFAB_CLIENT_ID=your_sketchfab_client_id
SKETCHFAB_CLIENT_SECRET=your_sketchfab_client_secret
SKETCHFAB_REDIRECT_URI=http://localhost/GAME-ENGINE3D/api/sketchfab_auth_callback.php
SKETCHFAB_AUTHORIZE_URL=https://sketchfab.com/oauth2/authorize/
SKETCHFAB_TOKEN_URL=https://sketchfab.com/oauth2/token/
SKETCHFAB_API_BASE_URL=https://api.sketchfab.com/v3
SKETCHFAB_SEARCH_COUNT=12
